/* @font-face{
    font-family: cursive;
} */
html{
    font-family: cursive,Arial, Helvetica, sans-serif;
}
.main{
    
    display: grid;
    width: 350px;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px,2fr));
    grid-template-rows: repeat(1,auto);
    margin: 10px;
    border: 3px solid mediumpurple;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1) ;
}
/* .main:hover{
    width: 110%;
} */
.left{
    width: fit-content;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 3px solid teal;
    height: fit-content;
    
    padding-right: 8px;
}
.side{
    margin-left: 40px;
    border: 1px solid teal;
    height: auto;
    width: 250px;
    padding: 5px;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;

}




 .top {
    overflow: hidden;
    background-color: whitesmoke;
    padding: 20px 10px;
    border: 3px solid mediumpurple;
    width: 100%;
    display: block;
    
}

.top a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    
}

#head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    
}

.rightSide {
    float: right;
    
}

/* @media screen and (max-width: 500px) {
    .top a {
      float: none;
      display: block;
      text-align: left;
    }
    .rightSide {
      float: none;
    }
    .edit{
        display: block;
        float: none;
        position: static;
    }
    .side{
        position: absolute;
        margin-left: 0px;
    }
} */

.top a:hover{
    background-color: teal;
    transform: scale(1,1.2);
}
/* Background */

p{
    white-space: pre-line;
}

#prof{
    white-space: normal;
}


/* The left Part */
html{
    display: table;
}
.profile{
    height: auto;
    width: 330px;
    
    /*border: 1px solid teal;*/
    border-radius: 18px;
    padding: 5px;
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);

}


.education{
    height: auto;
    width: 350px;
    /* border: 1px solid teal; */
    
    padding: 5px;
}
.exp{
    height: auto;
    width: 350px;
    /* border: 1px solid teal; */
    
    padding: 5px;
}
.achieve{
    height: auto;
    width: 350px;
    /* border: 1px solid teal; */
    
    padding: 5px;
}


/* Right side */
.imgCircle{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 50%;
    background-size: cover;
    /* margin: 15px 0px 0px 18px; */
    transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.imgCircle:hover{
    transform: scale(1,1.1);
}

#head{
    width: 50px;
    height: 50px;
}

.name{
    font-variant: small-caps;
    font-size: 18pt;
}
.contact, .language, .skills{
    font-weight: bolder;
    
}

.language{
    margin-top: 50px;
}
.quote{
    margin-top: 50px;
}

.contact{
    margin-top: 100px;
}
label{
    /* border: 1px solid black; */
    padding: 5px;
    background: teal;
    border-radius: 8px;
}

h3{
    /* border: 1px solid black; */
    width: 170px;
    padding: 2px;
    border-radius: 8px;
    background-color: mediumpurple;
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: width 2s cubic-bezier(0.19, 1, 0.22, 1);

}
h3:hover{
    width: 200px;
}
h5{
    width: 130px;
    height: 20px;
    border-radius: 10px;
    background-color: teal;
    padding: 5px;
    
}
span{
    font-style: oblique;
    font-weight: lighter;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

progress{
    height: 10px;
    width: 80%;
    color: mediumpurple;
    background: none;
    border: 1px solid black;
    border-radius: 8px;

}
progress::-webkit-progress-bar{
  background: none;

}
progress::-webkit-progress-value{
    background: mediumpurple;
    border-radius: 8px;

}
progress::-moz-progress-bar{
    
    background: none;
}
#p{
    font-size: large;  
}
.p{
    margin-top: 50px;
}
p::selection{
    background: teal;
    color: black;
}
label::selection{
    background: teal;
    color: black;
}

/* footer{
    position: absolute;
    border: 1px solid teal;
    margin-bottom: 3px;
    width: 100%;
    
} */

.edit{
    max-width: 250px;
    height: 400px;
    border: 3px solid teal;
   
    
}