* {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/* #################BACKGROUND############################# */
.sweet {
  height: 500px;
  width: 500px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  margin: auto;
  
  /* marging auto sets the element to the middle of the page */
}

.mid {
  position: absolute;
  height: 250px;
  width: 150px;
  background-color: #000000;
  border-radius: 180px;
  margin: 175px;
  margin-top: 125px;
  animation: mid 5s cubic-bezier(0.5, 0, 1, 0.5) 0s infinite alternate;
}
/* mid is the oval thingy in the middle changes color from 
    */

.move {
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50px;
  transform: translate(400px, 200px);
  transition: all 1s cubic-bezier(1, 0, 0, 1);
  background-color: crimson;
  animation: move 5s cubic-bezier(0.5, 0, 1, 0.5) 0s infinite alternate;
} /* move is the moving circle in the middle */

@keyframes move {
  0% {
    transform: translate(400px, 200px);
  }
  25% {
    transform: translate(200px, 200px);
    background-color: yellow;
  }
  50% {
    transform: translate(0px, 200px);
    background-color: crimson;
  }
  75% {
    transform: translate(200px, 200px);
    background-color: cornflowerblue;
  }
  100% {
    transform: translate(400px, 200px);
  }
}

@keyframes mid {
  0% {
    background-color: black;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: darkolivegreen;
  }
  75% {
    background-color: cornflowerblue;
  }
  100% {
    background-color: black;
  }
}
/* #################BACKGROUND############################# */
/* ######################PAGE HEADER######################## */
.top {
  width: 100%;
  /* min-height: 6vh; */
  /* border: 1px solid teal; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  position: fixed;
  background: linear-gradient(rgb(33, 33, 34), transparent);
  z-index: 10;
  top: 0px;
}

#head {
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}
.rightSide {
  /* border: 1px solid red; */
  height: 50px;
  width: fit-content;
  margin: auto;
  font-size: 1em;
  padding-top: 15px;
}

.rightSide a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  /* border: 1px solid blue; */
  text-align: center;
  padding: 5px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rightSide a:hover {
  background: rgb(202, 194, 194);
}
/* ######################PAGE HEADER############################ */

.main {
  /* border: 1px solid blue; */
  width: 80%;
  min-height: 300vh;
  margin: auto;
  position: relative;
  top: 100px;
}

/* ######################THINGS INSIDE MAIN#################### */
/* .profile, .education, .exp, .achieve, .imgCircle, .contact, .language, .quote{
    margin-bottom: 20px;
} */
.profile {
  width: 80%;
  margin: 10px auto 15px auto;
  min-height: 37vh;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  padding: 5px;

  border-bottom-left-radius: 10px;
}

.education {
  width: 80%;
  margin: 10px auto;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.education p {
  margin: 10px;
}

.education span {
  color: grey;
  display: block;
}
.education h5 {
  text-transform: capitalize;
}

.exp {
  width: 80%;
  margin: 10px auto;
  min-height: 25vh;
  padding: 10px;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-left-radius: 10px;
}
.exp span {
  color: grey;
  display: block;
}

.achieve {
  width: 80%;
  margin: auto;
  min-height: 37vh;
  padding: 10px;
  border-right: 3px solid mediumpurple;
  /* border-bottom: 3px solid mediumpurple; */
}

.achieve span {
  color: grey;
}

.achieve ul li {
  padding: 10px;
  list-style-type: none;
  line-height: 30px;
}

.imgCircle {
  width: 90%;
  margin: 10px auto;
  min-height: 37vh;
}

.imgCircle img {
  width: 100%;
  border-radius: 50%;
  border-left: 5px solid mediumpurple;
}
.imgCircle h4 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  margin-top: 20px;
}

.contact {
  width: 80%;
  margin: 50px auto 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.contact span {
  color: grey;
  display: block;
}
.contact p {
  display: block;
  margin: 25% auto;
}

.language {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-left-radius: 10px;
}
.language progress {
  display: block;
}
.language p {
  width: 50%;
  margin: auto;
  padding: 10px;
}

/* ######Progress Bars */
progress {
  border: 1px solid grey;
  background: white;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background: grey;
}

progress::-webkit-progress-bar {
  background: none;
}

progress::-webkit-progress-value {
  background: grey;
  border-radius: 3px;
}

/* ######Progress Bars */
.quote {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-left: 3px solid mediumpurple;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}
.quote p {
  padding: 10px;
}

h3 {
  font-size: 1.4em;
  padding: 10px;
  border-bottom: 2px solid mediumpurple;
  margin-bottom: 10px;
  width: 90%;
  margin: auto;
}

/* ######################THINGS INSIDE MAIN#################### */
/* #################################FOOTER################## */
footer {
  min-height: 20vh;
  text-align: center;
  /* border: 2px solid red; */
  margin-top: 200px;
  background: linear-gradient(transparent, rgb(0, 0, 0));
}

footer span {
  display: block;
  /* color: grey; */
}
.icns {
  font-size: 2em;
  color: black;
  width: 50%;
  border: none;
  background: none;
  /* border: 1px solid red; */
}
.icns a {
  text-decoration: none;
  color: black;
  transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icns a:hover {
  color: ivory;
  border: none;
  background: none;
}
#quote {
  font-style: italic;
  color: ivory;
}

/* #################################FOOTER################## */

/* #################FORM#################### */
.container {
  border: 3px solid mediumpurple;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.856); */
  width: 70%;
  height: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}

label {
  /* border-bottom: 2px solid mediumpurple; */
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 2px;
  display: block;
  text-align: left;
  text-transform: capitalize;
  width: fit-content;
}

input {
  width: 90%;
  margin-bottom: 10px;
  /* display:block; */
  background: rgb(209, 195, 195);
  height: 30px;
  margin-top: -10px;
  text-align: center;
  border: 2px solid black;
}
textarea {
  margin-top: -20px;
  width: 90%;
  background: rgb(209, 195, 195);
  height: 100px;
  border: 2px solid black;
}
button {
  width: 80%;
  display: inline-block;
  background: mediumpurple;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 30px;
  border: 1px solid black;
}

/* #################FORM#################### */
