* {
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  z-index: 9;
}
/* #################BACKGROUND############################# */

/* #################BACKGROUND############################# */
/* ######################PAGE HEADER######################## */
.top {
  width: 100%;
  /* min-height: 6vh; */
  /* border: 1px solid teal; */
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  position: fixed;
  background: linear-gradient(rgb(33, 33, 34), transparent);
  z-index: 10;
  top: 0px;
}

#head {
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}
.rightSide {
  /* border: 1px solid red; */
  height: 50px;
  width: 100%;
  text-align: right;
  margin: auto;
  font-size: 1em;
  padding-top: 15px;
}

.rightSide a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  /* border: 1px solid blue; */
  text-align: center;
  padding: 5px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.rightSide a:hover {
  background: rgb(202, 194, 194);
}
/* ######################PAGE HEADER############################ */

.main {
  /* border: 1px solid blue; */
  width: 80%;
  min-height: 300vh;
  margin: auto;
  position: relative;
  top: 100px;
}

/* ######################THINGS INSIDE MAIN#################### */
/* .profile, .education, .exp, .achieve, .imgCircle, .contact, .language, .quote{
    margin-bottom: 20px;
} */
.profile {
  width: 80%;
  margin: 10px auto 15px auto;
  min-height: 37vh;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  padding: 5px;

  border-bottom-left-radius: 10px;
}

.education {
  width: 80%;
  margin: 10px auto;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.education p {
  margin: 10px;
}

.education span {
  color: grey;
  display: block;
}
.education h5 {
  text-transform: capitalize;
}

.exp {
  width: 80%;
  margin: 10px auto;
  min-height: 25vh;
  padding: 10px;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-left-radius: 10px;
}
.exp span {
  color: grey;
  display: block;
}

.achieve {
  width: 80%;
  margin: auto;
  min-height: 37vh;
  padding: 10px;
  border-right: 3px solid mediumpurple;
  /* border-bottom: 3px solid mediumpurple; */
}

.achieve span {
  color: grey;
}

.achieve ul li {
  padding: 10px;
  list-style-type: none;
  line-height: 30px;
}

.imgCircle {
  width: 90%;
  margin: 10px auto;
  min-height: 37vh;
  overflow: hidden;
}

.imgCircle img {
  width: 100%;
  border-radius: 50%;
  border-left: 5px solid mediumpurple;
}
.imgCircle h4 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  padding: 5px;
  margin-top: 20px;
}

.contact {
  width: 80%;
  margin: 50px auto 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.contact span {
  color: grey;
  display: block;
}
.contact p {
  display: block;
  margin: 25% auto;
}

.language {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-left: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-bottom-left-radius: 10px;
}
.language progress {
  display: block;
}
.language p {
  width: 50%;
  margin: auto;
  padding: 10px;
}

/* ######Progress Bars */
progress {
  border: 1px solid grey;
  background: white;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  background: grey;
}

progress::-webkit-progress-bar {
  background: none;
}

progress::-webkit-progress-value {
  background: grey;
  border-radius: 3px;
}

/* ######Progress Bars */
.quote {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  min-height: 37vh;
  border-right: 3px solid mediumpurple;
  border-bottom: 3px solid mediumpurple;
  border-left: 3px solid mediumpurple;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}
.quote p {
  padding: 10px;
}

h3 {
  font-size: 1.4em;
  padding: 10px;
  border-bottom: 2px solid mediumpurple;
  margin-bottom: 10px;
  width: 90%;
  margin: auto;
}

/* ######################THINGS INSIDE MAIN#################### */
/* #################################FOOTER################## */
footer {
  min-height: 20vh;
  text-align: center;
  /* border: 2px solid red; */
  margin-top: 200px;
  background: linear-gradient(transparent, rgb(0, 0, 0));
  z-index: 9;
}

footer span {
  display: block;
  /* color: grey; */
}
.icns {
  font-size: 2em;
  color: black;
  width: 50%;
  border: none;
  background: none;
  /* border: 1px solid red; */
}
.icns a {
  text-decoration: none;
  color: black;
  transition: all 4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icns a:hover {
  color: ivory;
  border: none;
  background: none;
}
#quote {
  font-style: italic;
  color: ivory;
}

/* #################################FOOTER################## */

/* #################FORM#################### */
.container {
  border: 3px solid mediumpurple;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.856); */
  width: 70%;
  height: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  padding: 5px;
}

label {
  /* border-bottom: 2px solid mediumpurple; */
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 2px;
  display: block;
  text-align: left;
  text-transform: capitalize;
  width: fit-content;
}

input {
  width: 90%;
  margin-bottom: 10px;
  /* display:block; */
  background: rgb(209, 195, 195);
  height: 30px;
  margin-top: -10px;
  text-align: center;
  border: 2px solid black;
}
textarea {
  margin-top: -20px;
  width: 90%;
  background: rgb(209, 195, 195);
  height: 100px;
  border: 2px solid black;
}
button {
  width: 80%;
  display: inline-block;
  background: mediumpurple;
  text-transform: uppercase;
  border-radius: 3px;
  margin-top: 30px;
  border: 1px solid black;
}

/* #################FORM#################### */

/* ##############MEDIA QUERIES########################## */
@media screen and (min-width: 640px) {
  .main {
    display: grid;
    min-width: fit-content;
    min-height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.55fr 0.4fr 0.5fr;
    /* border: 1px solid red; */
    padding: 20px;
  }
  .profile {
    padding: 10px;
    border-bottom-left-radius: 0;
    width: 100%;
    grid-row: 2/3;
    grid-column: 1 / span 2;
    border: none;
    border-left: 3px solid teal;
  }

  .education {
    border-bottom-right-radius: 0;
    grid-row: 1/3;
    grid-column: 3/4;
    height: 98%;
    margin-right: 0;
    border: none;
    border-top: 3px solid mediumpurple;
    border-left: 3px solid teal;
  }
  .exp {
    border-bottom-left-radius: 0;
  }
  .quote {
    grid-column: 2/4;
    grid-row: 3/4;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 90%;
    margin-right: 0;
    border: none;
    border: 3px solid black;
  }
  .contact {
    grid-column: 1/2;
    grid-row: 3/4;
    border-bottom-right-radius: 0;
    width: 100%;
  
    border: none;
    border-top: 3px solid mediumpurple;
    border-right: 3px solid mediumpurple;
  }

  .contact p{
    margin: 20px;
  }
  .language {
    grid-column: 3/4;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    border: none;
    border-bottom: 3px solid black;
    border-left: 3px solid teal;
  }
  .imgCircle {
    width: 100%;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/ 3;
    border: 3px solid mediumpurple;
  }
  .imgCircle img {
    border: none;
    border-left: 4px solid teal;
    width: 150px;
    box-sizing: border-box;
  }
  .achieve {
    grid-row: 4/5;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 3px solid black;
    border-right: 3px solid teal;
  }
  .exp {
    grid-row: 4/5;
    grid-column: 2/3;
    height: 100%;
    border: none;
    border: 3px solid black;
  }

  .profile,
  .education,
  .exp,
  .achieve,
  .imgCircle,
  .contact,
  .language,
  .quote {
    box-sizing: border-box;
    /* border: 2px solid blue; */
    margin-top: 10px;
  }

  .profile,
  .education,
  .exp,
  .achieve {
    /* border-right: 3px solid teal; */
    border-radius: none;
  }

  .language p {
    width: 100%;
    margin: none;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.6fr 0.5fr;
  }
  .profile,
  .language,
  .achieve,
  .quote,
  .exp,
  .imgCircle,
  .contact,
  .education {
    /* border: 1px solid red; */
    height: auto;
    width: auto;
    margin: 0;
    margin: 5px;
  }

  .profile {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .education {
    grid-column: 3/4;
    grid-row: 1/2;
    border-top: none;
  }
  .quote{
    grid-column: 1/3;
    grid-row: 2/3;
    font-size: 1.3em;
  }
  .exp {
    grid-row: 3/4;
    grid-column: 2/3;
    
  }
  .achieve {
    grid-row: 3/4 ;
    grid-column: 1/2;
  }
  .language {
    grid-row: 2/3;
    grid-column: 3/4;
    border-bottom: none;
  }
  .imgCircle {
    padding-top: 50px;
    grid-row: 1/2;
    grid-column: 2/3;
    border: 3px solid black;
  }
  .contact{
    grid-row: 3/4;
    grid-column: 3/4;
    border: none;
    border-left: 3px solid teal;
  }
  

}

/* ##############MEDIA QUERIES########################## */
